<div class="container first-container">
  <h1>We change your relationship with money, you change the World</h1>
  <p>Decide the impact you have according to how you spend your money. We provide the tools to know where you're standing and take action.</p>
</div>

<div class="container second-container">
  <div class="second-container-left">
    <h2>just to have something</h2>
  </div>
  <div class="second-container-right">
    <h2>Know the impact of your expenses</h2>
    <div class="upper-box">
      <h3>Green impact analysis</h3>
      <p>We show the environmental impact your expenses have by using your bank records and algorithms we have developed in-house. Once you know where you stand, we provide you with some options / insights / recommendations on how you can lower your environmental footprint while controlling your budget and still having comfort</p>
    </div>
    <div class="lower-box">
      <h3>How we calculate it</h3>
      <p>To provide you an “at a glance” view, each purchase is graded with an impact score from 0 to 100. 0 is the Amazon Forest (a.k.a. Earth Green “Lung”). 100 is an oil spill in the Gulf of Mexico. To create this score, we estimate the polluting emission’s contribution of each product and service. The accuracy of it will increase as there is more transparency from vendors on how they source, transform and ship anything they do.</p>
    </div>
  </div>
</div>
